$background: #ffffff;
$fade: #00000080;
$primary: #0c0c0d;
$secondary: #242424;
$muted: #aaaaaa;
$accent: #f7f7f7;
$destructive: #cc2424;
// for: terminal (v1.x)
$red: #aa0000;
$yellow: #ffee00;
$light_red: #ff5555;
$light_blue: #5555ff;
$light_green: #33ff33;
$light_magenta: #ff55ff;
$aqua: #55ffff;
$cyan: #00aaaa;

$retro_blue: #0037da;
// $blue: #0000ff;
// $green: #00aa00;
// $magenta: #aa00aa;
// $gray: #555555;
// $light_gray: #aaaaaa;

:root {
	--fade: #{$fade};
	--secondary: #{$secondary};
	--muted: #{$muted};
	--accent: #{$accent};
	--destructive: #{$destructive};
}

.ct-utils {
	&_terminal-a1 {
		--fade: #{$fade};
		--secondary: #{$secondary};
		--muted: #{$muted};
		--accent: #{$accent};
		--destructive: #{$destructive};
	}
	&_terminal-v1 {
		--fade: #{$fade};
		--secondary: #{$retro_blue};
		--muted: #{$muted};
		--accent: #{$accent};
		--destructive: #{$accent};
	}

	&_color-accent {
		color: var(---accent);
	}

	&_color-muted {
		color: var(---muted);
	}

	&_bg-muted {
		background-color: var(---muted);
	}

	&_bg-fade {
		background-color: var(---fade);
	}

	&_bg-secondary {
		background-color: var(---secondary);
	}

	&_bg-transparent {
		background-color: transparent;
	}

	&_border-muted {
		border-color: var(---muted);
	}
}
