$xs-radius: 0.0625rem;
$sm-radius: 0.125rem;
$md-radius: 0.25rem;
$lg-radius: 0.5rem;
$xl-radius: 1rem;
$xxl-radius: 1.25rem;
$xxxl-radius: 1.5rem;

.ct-utils {
	&_base-text {
		font-size: 1rem;
	}

	&_xs-text {
		font-size: 0.75rem;
	}

	&_sm-text {
		font-size: 0.875rem;
	}

	&_md-text {
		font-size: 1.125rem;
	}

	&_lg-text {
		font-size: 1.25rem;
	}

	&_xl-text {
		font-size: 1.375rem;
	}

	&_inherit {
		text-transform: inherit;
	}

	&_uppercase {
		text-transform: uppercase;
	}

	&_capitalize {
		text-transform: capitalize;
	}

	&_lowercase {
		text-transform: lowercase;
	}

	&_rounded-xs {
		border-radius: $xs-radius;
	}

	&_rounded-sm {
		border-radius: $sm-radius;
	}

	&_rounded-md {
		border-radius: $md-radius;
	}

	&_rounded-lg {
		border-radius: $lg-radius;
	}

	&_rounded-xl {
		border-radius: $xl-radius;
	}

	&_rounded-2xl {
		border-radius: $xxl-radius;
	}

	&_rounded-3xl {
		border-radius: $xxxl-radius;
	}

	&_border-x-2 {
		border-left: 0.125rem;
		border-right: 0.125rem;
	}

	&_border-top-2 {
		border-style: solid;
		border-top: 0.125rem;
	}
}
