.ct-utils {
	._-z-50 {
		z-index: -50;
	}

	._-z-40 {
		z-index: -40;
	}

	._-z-30 {
		z-index: -30;
	}

	._-z-20 {
		z-index: -20;
	}

	._-z-10 {
		z-index: -10;
	}

	._z-0 {
		z-index: 0;
	}

	._z-10 {
		z-index: 10;
	}

	._z-20 {
		z-index: 20;
	}

	._z-30 {
		z-index: 30;
	}

	._z-40 {
		z-index: 40;
	}

	._z-50 {
		z-index: 50;
	}

	&_hidden {
		display: none;
	}

	&_absolute {
		position: absolute;
	}

	&_top-0 {
		top: 0%;
	}

	&_top-20 {
		top: 20%;
	}

	&_left-0 {
		left: 0%;
	}

	&_left-quat {
		left: 25%;
	}

	&_gap-6 {
		gap: 1.5rem;
	}

	&_pad-4 {
		padding: 1rem;
	}

	&_gap-x-2 {
		column-gap: 0.5rem;
	}

	&_pad-x-4 {
		padding-inline: 1rem;
	}

	&_pad-x-10 {
		padding-inline: 2.5rem;
	}

	&_pad-top-2 {
		padding-top: 0.5rem;
	}

	&_outline-none {
		outline: 0;
	}

	&_overflow-scroll {
		overflow: scroll;
	}

	&_h-full {
		height: 100%;
	}

	&_h-quat {
		height: 25%;
	}

	&_w-full {
		width: 100%;
	}

	&_w-half {
		width: 50%;
	}

	&_h-15rem {
		height: 15rem;
	}

	&_h-8-75rem {
		height: 8.75rem;
	}

	&_h-3rem {
		height: 3rem;
	}

	&_h-2-5rem {
		height: 2.5rem;
	}

	&_h-p125rem {
		height: 0.125rem;
	}

	&_w-15rem {
		width: 15rem;
	}
}
