.ct-utils {
	&_flex {
		display: flex;
	}

	&_grid {
		display: grid;
	}

	&_block {
		display: block;
	}

	&_inline-block {
		display: inline-block;
	}

	&_inline-flex {
		display: inline-flex;
	}

	&_flex-column {
		flex-direction: column;
	}

	&_items-start {
		align-items: flex-start;
	}

	&_items-center {
		align-items: center;
	}

	&_justify-center {
		justify-content: center;
	}

	&_justify-between {
		justify-content: space-between;
	}

	&_place-items-center {
		place-items: center;
	}

	&_shrink-0 {
		flex-shrink: 0;
	}
}
