@use './forward' as *;

.ct-utils {
	&_cursor {
		&-none {
			cursor: none;
		}
		&-text {
			cursor: text;
		}
		&-pointer {
			cursor: pointer;
		}
	}

	&_caret.text-muted {
		color: $muted;
	}

	&_placeholder {
		&.italic::placeholder {
			font-style: italic;
		}
		&.text-muted::placeholder {
			color: $muted;
		}
	}

	&_underline-offset-8 {
		text-underline-offset: 0.5rem;
	}

	&_hover {
		&.underline:hover {
			text-decoration: underline;
		}
		&.text-accent:hover {
			color: $accent;
		}
		&.text-destructive:hover {
			color: $destructive;
		}
		&.text-light-blue:hover {
			color: $light_blue;
		}
		&.text-cyan:hover {
			color: $cyan;
		}
		&.text-red:hover {
			color: $red;
		}
		&.text-yellow:hover {
			color: $yellow;
		}
		&.ct-utils_text-colors {
			&:hover {
				&:nth-child(0) {
					color: $light_red;
				}
				&:nth-child(1) {
					color: $light_blue;
				}
				&:nth-child(2) {
					color: $light_green;
				}
				&:nth-child(3) {
					color: $yellow;
				}
				&:nth-child(4) {
					color: $light_magenta;
				}
				:nth-child(5) {
					color: $aqua;
				}
			}
		}
	}
}
